.Header {
  background-color: #2F2F2F;
  height: 40px;
  color: #ecf0f1;
  text-align: center;
  padding: 5px;
}

.Header h1 {
  margin: 0;
  text-transform: uppercase;
}

.Header--themeOne {
  background-color: #27ae60;
}

.Header--themeTwo {
  background-color: #2980b9;
}

.Header--themeThree {
  background-color: #8e44ad;
}
