.Stop {
  display: flex;
  flex-flow: column;
  height: 100%;
}

.Stop__box {
  color: #ecf0f1;
  background-color: #2F2F2F;
  height: 100%;
  display: flex;
  align-items: center;
  font-family: 'Play', sans-serif;
  font-size: 110px;
}

.Stop__box--name {
  font-size: 80px;
  flex: 1;
  padding-left: 20px;
}

.Stop__box--time {
  flex: 1;
}

.Stop__box--small {
  font-size: 100px;
}
