.App {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #2F2F2F;
}

.App_topRow {
  display: flex;
  flex-direction: row;
  flex: 1;
  align-items: center;
  justify-content: center;
  background: linear-gradient(#595959, #404040, #2F2F2F);
}

.App_middleRow {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  flex: 2;
}

.App_bottomRow {
  margin-bottom: 5px;
}
