.App {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-template-areas:
  "datetime bikes"
  "stops stops"
  "weather weather";
  grid-row-gap: 10px;
  grid-column-gap: 10px;
  height: 100%;
  background-color: #1b232c;
  padding: 10px;
  box-sizing: border-box;
}