:root {
  --percentage: 100;
}

.Bikes {
  grid-area: bikes;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  background: #2d3947;
  color: #d4e2e6;
}

.BikeStop {
  position: relative;
  display: grid;
  align-items: center;
}

.BikeStop__availability {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 60px;
  height: 60px;
  transform: translate(-50%, -50%);
}

.BikeStop__availability__name {
  font-size: 14px;
}

.BikeStop__availability__amount {
  font-size: 18px;
}

.circular-chart {
  display: block;
  margin: 8px auto;
  max-height: 80px;
  max-width: 80%;

}

.circle {
  stroke: #1f9ca0;
  fill: none;
  stroke-width: 2.8px;
  stroke-linecap: round;
  stroke-dasharray: var(--percentage), 100;
}