.Bikes {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  background: rgba(18,135,183);
  color: #ffffff;
  margin: 10px 10px 5px 5px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.BikeStop {
  width: 50%;
  position: relative;
}

.BikeStop__availability {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 60px;
  height: 60px;
  transform: translate(-50%, -50%);
  font-weight: 900;
}

.BikeStop__availability__name {
  font-size: 12px;
  padding-bottom: 1px;
}

.BikeStop__availability__amount {
  font-size: 18px;
}

.circular-chart {
  display: block;
  margin: 8px auto;
  max-height: 80px;
  max-width: 80%;
}

.circle {
  stroke: #acecec;
  fill: none;
  stroke-width: 2.8px;
  stroke-linecap: round;
  stroke-dasharray: var(--percentage), 100;
}
