.Stops {
  display: flex;
  flex: 3;
  flex-flow: row;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}

.Stops__times {
  display: flex;
  flex-flow: column;
}

.Stops img {
  height: 40px;
  padding-top: 10px;
}
