.Stops {
  display: flex;
  flex: 1;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 10px;
}

.Stops__times {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: center;
}
