.Stops {
  display: flex;
  justify-content: center;
  width: 100%;
  color: #f3e9fb;
}

.Stops__box {
  align-items: center;
  background: linear-gradient(27deg, rgba(164,26,133,1) 0%, rgba(230,18,103,1) 69%);
  padding: 5px;
  margin: 5px 10px 5px 5px;
  width: 100%;
}

.Stops__box:first-child {
  margin: 5px 5px 5px 10px;
  background: linear-gradient(27deg, rgba(85,12,130,1) 0%, rgba(129,18,142,1) 69%);
}
