.Stop {
  display: flex;
  flex-flow: column;
  height: 100%;
  padding: 5px;
}

.Stop__box {
  color: #ecf0f1;
  background-color: #2F2F2F;
  height: 100%;
  display: flex;
  flex-flow: row;
  align-items: center;
  font-family: 'Play', sans-serif;
  font-size: 30px;
  width: 110px;
}

.Stop__box--name {
  font-size: 20px;
  flex: 1;
}

.Stop__box--time {
  display: flex;
  flex: 2;
  align-items: flex-end;
  justify-content: flex-end;
}

.Stop__box--small {
  font-size: 25px;
}
