.Stop {
  padding: 0;
}

.Route {
  display: flex;
  align-items: center;
  font-size: 16px;
  padding-bottom: 3px;
}

.Route:last-child {
  padding-bottom: 0px;
}

.RouteNumber {
  flex: 2;
  min-width: 30px;
  text-align: center;
}

.ExtensionConnection::before{
  content: '';
  position: absolute;
  display: inline-flex;
  width: 25px;
  height: 21px;
  margin-left: -8px;
  margin-top: 1px;
  box-shadow: 0 0 5px #2c0734, inset 0 0 5px #2c0734;
}

.Headsign {
  flex: 5;
  font-size: 14px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.Time {
  flex: 1;
  text-align: end;
  font-size: 18px;
}

