.Weather {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  color: #ecf0f1;
  background: #2d3947;
  margin: 5px 10px 10px 10px;
}

.Weather__item {
  display: flex;
  flex: 3;
  flex-flow: row;
  font-size: 16px;
  justify-content: space-around;
  align-items: flex-end;
}

.Weather__item__box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Weather__item__time {
  font-size: 14px;
  color: #98adb3;
}

.Weather__item__temp {
  font-size: 16px;
  color: #c4d0d4;
}

.Weather__item img {
  height: 20px;
  padding-top: 2px;
}
