.Weather {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  height: 100%;
  color: #ecf0f1;
  font-family: 'Play', sans-serif;
  font-size: 60px;
}

.Weather img {
  height: 60px;
  padding-top: 20px;
  padding-left: 30px;
}
